@font-face {
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-family: Roboto;
}

@font-face {
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
  font-family: Ubuntu;
}

@font-face {
  src: url(../assets/fonts/Ubuntu-Light.ttf);
  font-family: Ubuntu-Light;
}

@font-face {
  src: url(../assets/fonts/OpenSans-Regular.ttf);
  font-family: OpenSans;
}

@font-face {
  src: url(../assets/fonts/ProximaNovaReg.ttf);
  font-family: ProximaNova;
}

body {
  background-color: #21303B;
  background-repeat: no repeat;
}

* {
  margin: 0;
  padding: 0;
}

.circle.small {
	border: 2px solid white;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	z-index: 86;

  vertical-align: middle;
    display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}



.circle a {
    text-align: center;


    font-family:  Times, serif;
    vertical-align: middle;
    font-weight: 800;
    font-size: 38px;
    color: #222222;
    text-decoration: none;
    display: block;
    letter-spacing: -0.02em;
    word-spacing: -0.02em;
    align-items: center;

}


nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #21303B;
  background-color: #21303B;
  padding: 0 100px;
  box-sizing: border-box;
  position: fixed;
}

.brand {
  padding-left: 31.5%;
  margin: 0;
  color: WHITE;
  float: left;
  height: 100%;
  line-height: 65px;
  text-align: center;
  font-size: 13px;
  font-family: OpenSans;
}

.brand a {
  color: GRAY;
  text-transform: none;
  text-decoration: none;
  transition: .3s;
}

.brand a:hover {
  color: WHITE;
}

.hiddenSideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 85%;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.hiddenSideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.hiddenSideNav a:hover {
  color: #f1f1f1;
}

.hiddenSideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}
}

.sidenav {
  height: 100%;
  text-align: center;
  width: 16%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
background: rgba(33, 48, 59, 0.1);
  overflow-x: hidden;
  padding-top: 20%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.nav_link a {
  color: GRAY;
  font-size: 14px;
  text-decoration: none;
  transition: .3s;
}

.nav_link a:hover {
  color: WHITE;
}

.controllerIcon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 0.5%;
  padding: 0;
}

.title {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  width: 14%;
  height: 8%;
  position: fixed;
  top: 2.2%;
  left: 1%;
  font-family: Ubuntu;
  font-size: 23px;
  color: BLACK;
}

.title a {
  color: white;
  text-decoration: none;
  transition: .3s;
}

.title a:hover {
  color: BLACK;
}

.titleLogo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
}


.devicesContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  width: 120px;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  position: absolute;
  top: 18%;
  left: 28%
}

.devicesContainer input[type="submit"] {
  margin-left: 10px;
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: limegreen;
}

.devicesContainer input[type="submit"]:hover {
  border: 2px solid WHITE;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  background: WHITE;
  color: #000;
}

.headlineContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  display: inline-block;
  text-align: center;
  border-style: none;
  width: 82%;
  height: 31%;
  top: 8.6%;
  color: ##EDEFF0;
  background: rgba(82, 109, 130, 0.1);
  border-radius: 1%;
  left: 15.5%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  position: absolute;
}

.devicesStatusContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  display: inline-block;
  text-align: center;
  border-style: none;
  width: 26%;
  height: 32%;
  top: 43.6%;
  color: ##EDEFF0;
  background: rgba(82, 109, 130, 0.1);
  border-radius: 1%;
  left: 15.5%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  position: absolute;
}

.devicesStatus_iconContainer {
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	z-index: 86;
  vertical-align: middle;
    display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.devicesStatus_icon {
  width: 100%;
  height: 100%;
}




.devicesStatusContainerName {
	border: none;
	width: 40px;
	height: 40px;
	z-index: 1;
  position: absolute;
left: 10%;
top: 25%;
  vertical-align: middle;
    display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.devicesStatusContainerName a {
  text-align: center;


  font-family:  Times, serif;
  vertical-align: middle;
  font-weight: 800;
  font-size: 13px;
  color: #222222;
  text-decoration: none;
  display: block;
  letter-spacing: -0.02em;
  word-spacing: -0.02em;
  align-items: center;
  text-transform: none;

}


.dateContainer {
  text-align: right;
  border-style: none;
  position: absolute;
  width: 98%;
  height: 10%;
  top: 91%;
  left: 0%;
  font-family: Ubuntu;
  font-size: 12px;
  color: black;
  text-transform: none;
}

.dateContainer p {
  display: inline-block;
}

.dateContainerLogo {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 0.5%;
  font-size: 12px;
  padding: 0;
}

.sensorsContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  width: 26%;
  height: 32%;
  top: 43.6%;
  color: ##EDEFF0;
  background: rgba(82, 109, 130, 0.1);
  border-radius: 1%;
  left: 43.5%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  position: absolute;
}

.sensorsContainer li {
  list-style: none;
  padding-top: 10px;
}

.sensorsContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}


.summaryContainer {

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  width: 26%;
  height: 32%;
  top: 43.6%;
  color: ##EDEFF0;
  background: rgba(82, 109, 130, 0.1);
  border-radius: 1%;
  left: 71.5%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  position: absolute;
}

.summaryContainer li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.summaryContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}


.cameraImgContainer {

  width: 40%;
  height: 51.5%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 80%;
  left: 15.5%;
  padding: 0;
  font-family: sans-serif;
}

.cameraImg {
  width: 100%;
  height: 100%;
}


.growthContainer {

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;

    width: 40%;
    height: 51.5%;
  top: 80%;
  color: ##EDEFF0;
  background: rgba(82, 109, 130, 0.1);
  border-radius: 1%;
  left: 57.60%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  position: absolute;

}

.growthContainer li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.growthContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}


.deviceStatusTableFixedHeader {
  width: 677px;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-left: 50px;
  margin-top: -250px;
  position: fixed;
  top: 50%;
  font-family: ProximaNova;
}

.deviceStatusTableFixedHeader tbody {
  display: inline-block;
  height: 600px;
  overflow: auto;
}

.deviceStatusTableFixedHeader th, .deviceStatusTableFixedHeader td {
  padding: 5px;
  text-align: center;
}

.deviceStatusTableFixedHeader td:nth-child(1), .deviceStatusTableFixedHeader th:nth-child(1) {
  min-width: 200px;
}

.deviceStatusTableFixedHeader td:nth-child(2), .deviceStatusTableFixedHeader th:nth-child(2) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(3), .deviceStatusTableFixedHeader th:nth-child(3) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(4), .deviceStatusTableFixedHeader th:nth-child(4) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(5), .deviceStatusTableFixedHeader th:nth-child(5) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader thead {
  background-color: black
}

.deviceStatusTableFixedHeader tr {
  display: block;
  position: relative;
}

.sensorStatusTableFixedHeader {
  width: 877px;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-left: 1000px;
  margin-top: -650px;
  position: fixed;
  top: 98.5%;
  font-family: ProximaNova;
}

.sensorStatusTableFixedHeader tbody {
  display: inline-block;
  height: 600px;
  overflow: auto;
}

.sensorStatusTableFixedHeader th, .sensorStatusTableFixedHeader td {
  padding: 5px;
  text-align: center;
}

.sensorStatusTableFixedHeader td:nth-child(1), .sensorStatusTableFixedHeader th:nth-child(1) {
  min-width: 200px;
}

.sensorStatusTableFixedHeader td:nth-child(2), .sensorStatusTableFixedHeader th:nth-child(2) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(3), .sensorStatusTableFixedHeader th:nth-child(3) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(4), .sensorStatusTableFixedHeader th:nth-child(4) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(5), .sensorStatusTableFixedHeader th:nth-child(5) {
  min-width: 300px;
}

.sensorStatusTableFixedHeader thead {
  background-color: black
}

.sensorStatusTableFixedHeader tr {
  display: block;
  position: relative;
}

.old_ie_wrapper {
  height: 600px;
  width: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.old_ie_wrapper tbody {
  height: auto;
}
