@font-face {
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-family: Roboto;
}

@font-face {
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
  font-family: Ubuntu;
}

@font-face {
  src: url(../assets/fonts/Ubuntu-Light.ttf);
  font-family: Ubuntu-Light;
}

@font-face {
  src: url(../assets/fonts/OpenSans-Regular.ttf);
  font-family: OpenSans;
}

@font-face {
  src: url(../assets/fonts/ProximaNovaReg.ttf);
  font-family: ProximaNova;
}

body {
  background-color: #333940;
  background-repeat: no repeat;
}

* {
  margin: 0;
  padding: 0;
}


.sidenav2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 85%;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav2 a:hover {
  color: #f1f1f1;
}

.sidenav2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}
}

.sidenav {
  height: 100%;
  text-align: center;
  width: 16%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.nav_link a {
  color: GRAY;
  font-size: 14px;
  text-decoration: none;
  transition: .3s;
}

.nav_link a:hover {
  color: WHITE;
}

.controllerIcon {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-right: 0.5%;
  padding: 0;
}

.myProgress {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  width: 300px;
  height: 70px;
  position: fixed;
  top: 7.5%;
  left: 21.5%;
  font-family: Ubuntu;
  font-size: 30px;
  color: WHITE;
}

.title {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  width: 16%;
  height: 27%;
  position: fixed;
  top: 6.5%;
  left: 0%;
  font-family: Ubuntu;
  font-size: 23px;
  color: WHITE;
}

.title a {
  color: WHITE;
  text-decoration: none;
  transition: .3s;
}

.title a:hover {
  color: BLACK;
}

.titleLogo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 190px;
  height: 150px;
  border-radius: 20px;
  padding: 0;
}


.dateContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: none;
  width: 12%;
  height: 10%;
  position: fixed;
  top: 90%;
  left: 1.8%;
  font-family: Ubuntu;
  font-size: 13px;
  color: WHITE;
}

.dateContainer p {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.dateContainerLogo {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 0.5%;
  font-size: 13px;
  padding: 0;
}

.devicesContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  width: 120px;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  position: absolute;
  top: 18%;
  left: 28%
}

.devicesContainer input[type="submit"] {
  margin-left: 10px;
  border-style: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: limegreen;
}

.devicesContainer input[type="submit"]:hover {
  border: 2px solid WHITE;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  background: WHITE;
  color: #000;
}

.leftContainer2 {
  border-style: solid;
  width: 21%;
  height: 30%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 18.6%;
  left: 21.5%;
}

.leftContainer2 li {
  list-style: none;
  padding-top: 10px;
}

.leftContainer2 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.sensorsContainer {
  border-style: solid;
  width: 21%;
  height: 30%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 18.6%;
  left: 47.6%;
}

.sensorsContainer li {
  list-style: none;
  padding-top: 10px;
}

.sensorsContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}


.summaryContainer {
  border-style: solid;
  width: 21%;
  height: 30%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 18.6%;
  left: 73.5%;
  text-align: center;
}

.summaryContainer li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.summaryContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}


.cameraImgContainer {
  width: 34%;
  height: 36%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 55.6%;
  left: 21.5%;
  padding: 0;
  font-family: sans-serif;
}

.cameraImg {
  width: 100%;
  height: 100%;
}


.growthContainer {
  border-style: solid;
  width: 34%;
  height: 36%;
  font-family: Ubuntu-Light;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 55.6%;
  left: 60%;
  text-align: center;
}

.growthContainer li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.growthContainer a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}


.deviceStatusTableFixedHeader {
  width: 677px;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-left: 50px;
  margin-top: -250px;
  position: fixed;
  top: 50%;
  font-family: ProximaNova;
}

.deviceStatusTableFixedHeader tbody {
  display: inline-block;
  height: 600px;
  overflow: auto;
}

.deviceStatusTableFixedHeader th, .deviceStatusTableFixedHeader td {
  padding: 5px;
  text-align: center;
}

.deviceStatusTableFixedHeader td:nth-child(1), .deviceStatusTableFixedHeader th:nth-child(1) {
  min-width: 200px;
}

.deviceStatusTableFixedHeader td:nth-child(2), .deviceStatusTableFixedHeader th:nth-child(2) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(3), .deviceStatusTableFixedHeader th:nth-child(3) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(4), .deviceStatusTableFixedHeader th:nth-child(4) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader td:nth-child(5), .deviceStatusTableFixedHeader th:nth-child(5) {
  min-width: 100px;
}

.deviceStatusTableFixedHeader thead {
  background-color: black
}

.deviceStatusTableFixedHeader tr {
  display: block;
  position: relative;
}

.sensorStatusTableFixedHeader {
  width: 877px;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-left: 1000px;
  margin-top: -650px;
  position: fixed;
  top: 98.5%;
  font-family: ProximaNova;
}

.sensorStatusTableFixedHeader tbody {
  display: inline-block;
  height: 600px;
  overflow: auto;
}

.sensorStatusTableFixedHeader th, .sensorStatusTableFixedHeader td {
  padding: 5px;
  text-align: center;
}

.sensorStatusTableFixedHeader td:nth-child(1), .sensorStatusTableFixedHeader th:nth-child(1) {
  min-width: 200px;
}

.sensorStatusTableFixedHeader td:nth-child(2), .sensorStatusTableFixedHeader th:nth-child(2) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(3), .sensorStatusTableFixedHeader th:nth-child(3) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(4), .sensorStatusTableFixedHeader th:nth-child(4) {
  min-width: 100px;
}

.sensorStatusTableFixedHeader td:nth-child(5), .sensorStatusTableFixedHeader th:nth-child(5) {
  min-width: 300px;
}

.sensorStatusTableFixedHeader thead {
  background-color: black
}

.sensorStatusTableFixedHeader tr {
  display: block;
  position: relative;
}

.old_ie_wrapper {
  height: 600px;
  width: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.old_ie_wrapper tbody {
  height: auto;
}
