{% extends 'baseLayout.html' %}

{% block content %}

<div class="title">
  <img src="../assets/icons/leafIcon.png" class="titleLogo" />
  <a href="{% url 'mainPage' %}">A.G.E DASHBOARD</a>


</div>



<form method='POST' id="buttonForm">
  {% csrf_token %}

  <div id="mySidenav" class="hiddenSideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="devicesContainer">

      <img style="width: 30px; height: 30px;" src="../assets/icons/airIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onFans_btn" value=" " class="onFan"></button>
      <input style="background-color: red;" type='submit' name="offFans_btn" value=" " class="offFan"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/sunIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onLights_btn" value=" " class="onLights"></button>
      <input style="background-color: red;" type='submit' name="offLights_btn" value=" " class="offLights"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/irrigationIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onWater_btn" value=" " class="onWater"></button>
      <input style="background-color: red;" type='submit' name="offWater_btn" value=" " class="offWater"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/seedIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onSeed_btn" value=" " class="onSeed"></button>
      <input style="background-color: red;" type='submit' name="offSeed_btn" value=" " class="offSeed"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/cameraIcon.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="camera_btn" value=" " class="processImage"></button>


    </div>


  </div>

  <div class="sidenav">
    <div class="sidenavTitleContainer">
      ADMIN TOOLS
    </div>

    <div class="sidenavButtonContainer">

      <a onclick="openNav()"> <img src="../assets/icons/remoteController_black.png" class="sidenavIcon" /> Controller</a>
      <a href="{% url 'databasePage' %}"> <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" /> Database</a>
      <a class='fullReset' type='submit'> <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" /> Full Reset</a>

      <!--         <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" />
                <a href="#clients">Clients</a> -->

    </div>

    <div class="sidenavTitleContainer" style="top: 24%">
      FAQs
    </div>
    <div class="sidenavButtonContainer" style="top: 27.4%">
      <a onclick="openNav()"> <img src="../assets/icons/navControllerIcon_white.jpg" class="sidenavIcon" /> Controller</a>
      <a onclick="openNav()"> <img src="../assets/icons/navControllerIcon.png" class="sidenavIcon" /> Full Reset</a>
    </div>
  </div>



  <div class="growthContainer" style="left: 15.5%; top: 8.2%; width: 62.54%; border-radius: 0.5%;">
    <table class="cameraTable">
      <caption>Camera Snaps</caption>
      <thead>
        <tr>
          <th>Date&Time</th>
          <th>Image File Name</th>
          <th>Plant 1</th>
          <th>Plant 2</th>
          <th>Plant 3</th>
          <th>Plant 4</th>
          <th>Plant 5</th>
          <th>Plant 6</th>
          <th>Plant 7</th>
          <th>Plant 8</th>
          <th>Plant 9</th>
          <th>Plant 10</th>
        </tr>
      </thead>
      <tbody>
        {% for values in cameraObjects %}
        <tr>
          <td>{{values.date}}</td>
          <td>{{values.camera}}</td>
          <td>{{values.plant1}}</td>
          <td>{{values.plant2}}</td>
          <td>{{values.plant3}}</td>
          <td>{{values.plant4}}</td>
          <td>{{values.plant5}}</td>
          <td>{{values.plant6}}</td>
          <td>{{values.plant7}}</td>
          <td>{{values.plant8}}</td>
          <td>{{values.plant9}}</td>
          <td>{{values.plant10}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="growthContainer" style="left: 80%; top: 8.2%; width: 17.82%; border-radius: 0.5%;">
    <table class="countersTable">
      <caption>Counters</caption>
      <thead>
        <tr>
          <th>Date&Time</th>
          <th>daysCounter</th>
        </tr>
      </thead>
      <tbody>
        {% for values in countersObjects %}
        <tr>
          <td>{{values.date}}</td>
          <td>{{values.daysCounter}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="growthContainer" style="top: 55.2%;  width: 49.5%; left: 15.5%; border-radius: 0.5%;">
    <table class="sensorsTable">
      <caption>Sensors</caption>
      <thead>
        <tr>
          <th>Date&Time</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Soil Moisture</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        {% for values in sensorsObjects %}
        <tr>
          <td>{{values.date}}</td>
          <td>{{values.temperature}}</td>
          <td>{{values.humidity}}</td>
          <td>{{values.moisture}}</td>
          <td>{{values.summary}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="growthContainer" style="left: 67%; top: 55.2%; width: 30.82%; border-radius: 0.5%;">
    <table class="devicesTable">
      <caption>Devices</caption>
      <thead>
        <tr>
          <th>Date&Time</th>
          <th>Fan</th>
          <th>Light</th>
          <th>Watering</th>
          <th>Seeding</th>
        </tr>
      </thead>
      <tbody>
        {% for values in deviceStatusObjects %}
        <tr>
          <td>{{values.date}}</td>
          <td>{{values.fansStatus}}</td>
          <td>{{values.lightsStatus}}</td>
          <td>{{values.waterStatus}}</td>
          <td>{{values.seedStatus}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>





  {% endblock %}