{% extends 'baseLayout.html' %}

{% block content %}

<form method='POST' id="mainForm">
  {% csrf_token %}



  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Progress -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2" style="background: white">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Progress</div>
              <div id="labelTemperature" class="h5 mb-0 font-weight-bold text-gray-800">{{mode_selected_obj_global_2.daysCounter}} Days</div>
              <div id="firstDayID" class="h7 mb-0 font-weight-normal text-gray-800">{{mode_selected_obj_global_first.date}}</div>
              <!-- <div id="lastDayID" class="h7 mb-0 font-weight-normal text-gray-800">{{mode_selected_obj_global_2.date}}</div> -->
            </div>
            <div class="col-auto">
              <i><img src="../assets/icons/devicesIcons/bdayIcon_black.png" class="singleContainer_icon" /></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Temperature -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2" style="background: white">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Temperature (Celsius)</div>
              <div id="labelTemperature" class="h5 mb-0 font-weight-bold text-gray-800">{{sensors_obj_global.temperature}} ° C</div>
              <div id="labelTemperatureStatus" class="h7 mb-0 font-weight-normal text-gray-800">Status: {{sensors_obj_global.temperatureStatus}}</div>
            </div>
            <div class="col-auto">
              <i><img src="../assets/icons/sensorsIcons/temperatureIcon.png" class="singleContainer_icon" /></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Humidity -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2" style="background: white">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Humidity</div>
              <div id="labelHumidity" class="h5 mb-0 font-weight-bold text-gray-800">{{sensors_obj_global.humidity}} %</div>
              <div id="labelHumidityStatus" class="h7 mb-0 font-weight-normal text-gray-800">Status: {{sensors_obj_global.humidityStatus}}</div>
            </div>
            <div class="col-auto">
              <i><img src="../assets/icons/sensorsIcons/humidityIcon_white.png" class="singleContainer_icon" /></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Soil Moisture -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2" style="background: white">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Soil Moisture</div>
              <div id="labelMoisture" class="h5 mb-0 font-weight-bold text-gray-800">{{sensors_obj_global.moisture}} %</div>
              <div id="labelSoilMoistureStatus" class="h7 mb-0 font-weight-normal text-gray-800">Status: {{sensors_obj_global.soilMoistureStatus}}</div>
            </div>
            <div class="col-auto">
              <i><img src="../assets/icons/sensorsIcons/soilMoistureIcon_white.png" class="singleContainer_icon" /></i>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="row">

    <div class="col-xl-2 col-md-3 mb-4">
      <div class="card border-left-success shadow h-100 py-2" style="background: white; ">
        <div class=" card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Mode</div>
              <div id="labelMode" class="h5 mb-0 font-weight-bold text-gray-800">{{mode_selected_obj_global_2.modeNumber}}</div>
            </div>
            <div class="col-auto">
              <i><img src="../assets/icons/devicesIcons/modeIcon_black.png" class="singleContainer_icon" /></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-2 col-md-3 mb-4">
      <div class="card border-left-success shadow h-100 py-2" style="background: white; "">
      <div class=" card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Grid</div>
            <div id="labelGrid" class="h5 mb-0 font-weight-bold text-gray-800">{{mode_selected_obj_global_2.grid}}</div>
          </div>
          <div class="col-auto">
            <i><img src="../assets/icons/devicesIcons/gridIcon.png" class="singleContainer_icon" /></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-md-3 mb-4">
    <div class="card border-left-success shadow h-100 py-2" style="background: white; "">
      <div class=" card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Calibrate</div>
          <div id="labelCalibration" class="h5 mb-0 font-weight-bold text-gray-800">{{devices_obj_global.calibrationStatus}}</div>
        </div>
        <div class="col-auto">
          <i><img src="../assets/icons/devicesIcons/calibrationIcon_black.png" class="singleContainer_icon" /></i>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-xl-2 col-md-3 mb-4">
    <div class="card border-left-success shadow h-100 py-2" style="background: white; "">
    <div class=" card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">LED</div>
          <div id="labelLights" class="h5 mb-0 font-weight-bold text-gray-800">{{devices_obj_global.lightsStatus}}</div>
        </div>
        <div class="col-auto">
          <i><img src="../assets/icons/devicesIcons/sunIcon_black.png" class="singleContainer_icon" /></i>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-xl-2 col-md-3 mb-4">
    <div class="card border-left-success shadow h-100 py-2" style="background: white; "">
    <div class=" card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">RGB LED</div>
          <div id="labelLights" class="h5 mb-0 font-weight-bold text-gray-800">{{devices_obj_global.lightsStatus}}</div>
        </div>
        <div class="col-auto">
          <i><img src="../assets/icons/devicesIcons/sunIcon_black.png" class="singleContainer_icon" /></i>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>

  <div class="row">


    <div class="col-xl-2 col-md-3 mb-4">
      <div class="card border-left-success shadow h-100 py-2" style="background: white; "">
      <div class=" card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fans</div>
            <div id="labelFans" class="h5 mb-0 font-weight-bold text-gray-800">{{devices_obj_global.fansStatus}}</div>
          </div>
          <div class="col-auto">
            <i><img src="../assets/icons/devicesIcons/airIcon_black.png" class="singleContainer_icon" /></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-md-3 mb-4">
    <div class="card border-left-success shadow h-100 py-2" style="background: white; "">
      <div class=" card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Watering</div>
          <div id="labelWater" class="h5 mb-0 font-weight-bold text-gray-800">{{devices_obj_global.waterStatus}}</div>
        </div>
        <div class="col-auto">
          <i><img src="../assets/icons/devicesIcons/waterIcon_black.png" class="singleContainer_icon" /></i>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-xl-2 col-md-3 mb-4">
    <div class="card border-left-success shadow h-100 py-2" style="background: white; "">
    <div class=" card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Seeder</div>
          <div id="labelSeed" class="h5 mb-0 font-weight-bold text-gray-800">{{devices_obj_global.seedStatus}}</div>
        </div>
        <div class="col-auto">
          <i><img src="../assets/icons/devicesIcons/seedIcon_black.png" class="singleContainer_icon" /></i>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Vision System: Logitech C310 @ 960x720</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="height: 37rem;">
          <div class="chart-area">
            <img id="cameraID" class="cameraImg" src={{mode1_vision_system_obj_global.image}}>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg-5">
      <div class="card shadow mb-4" style="background: white;">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Vision System: PlantCV</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="height: 37rem;">

          <div id="growthContainer_permanent">
            <div id="growthContainer">

            </div>
          </div>

        </div>
      </div>
    </div>



  </div>








</form>

{% endblock %}