{% extends 'baseLayout.html' %}

{% block content %}

<nav>

  <div class="title">
    <img src="../assets/icons/rpiIcon.png" class="titleLogo" />
    <a href="{% url 'mainPage' %}">IOT DASHBOARD</a>


      </div>
    <div class="circularButton">
      <input type='submit' onclick="openNav()" value=" " >



 <input type='submit' onclick="openNav()" value=" " >
  <input type='submit' onclick="openNav()" value=" " >

          </button>





  </div>




</nav>

<div class="headlineContainer">
AGE THESIS
<div class="brand">
  An automated indoor gardening system using raspberry pi.
  | <a href="{% url 'databasePage' %}">See Database Log</a>

</div>

</div>


<form method='POST' id="buttonForm">
  {% csrf_token %}

  <div id="mySidenav" class="hiddenSideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="devicesContainer">

      <img style="width: 30px; height: 30px;" src="../assets/icons/airIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onFans_btn" value=" " class="onFan"></button>
      <input style="background-color: red;" type='submit' name="offFans_btn" value=" " class="offFan"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/sunIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onLights_btn" value=" " class="onLights"></button>
      <input style="background-color: red;" type='submit' name="offLights_btn" value=" " class="offLights"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/waterIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onWater_btn" value=" " class="onWater"></button>
      <input style="background-color: red;" type='submit' name="offWater_btn" value=" " class="offWater"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/seedIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onSeed_btn" value=" " class="onSeed"></button>
      <input style="background-color: red;" type='submit' name="offSeed_btn" value=" " class="offSeed"></button>

      <img style="width: 30px; height: 30px;" src="../assets/icons/cameraIcon.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="camera_btn" value=" " class="processImage"></button>


    </div>


  </div>



  <div class="sidenav">
    <div class="sidenavButtonContainer">

          <img src="../assets/icons/airIcon_white.png" class="dateContainerLogo" />
          <a href="#about">Schedule</a>
          <a href="#services">Services</a>
          <a href="#clients">Clients</a>
          <a href="#contact">Contact</a>

    </div>



  </div>




  <div class="devicesStatusContainer">
    <div class="devicesStatus_iconContainer">
      <img src="../assets/icons/airIcon_white.png" class="devicesStatus_icon" />

    </div>
    <div class="devicesStatusContainerName">
      <a id="labelFans">Fans: {{deviceStatusObjects.fansStatus}}<a>
    </div>
    <div class="devicesStatus_iconContainer">
      <img src="../assets/icons/sunIcon_white.png" class="devicesStatus_icon" />

    </div>
      <div class="devicesStatusContainerName" style="left: 50%;">
    <a id="labelLights">Lights: {{deviceStatusObjects.lightsStatus}}<a>
    </div>
    <div class="devicesStatus_iconContainer">
      <img src="../assets/icons/waterIcon_white.png" class="devicesStatus_icon" />

    </div>
      <div class="devicesStatusContainerName" style="top: 67%;">
      <a id="labelWater">Sprinkler: {{deviceStatusObjects.waterStatus}}<a>
    </div>
    <div class="devicesStatus_iconContainer">
      <img src="../assets/icons/seedIcon_white.png" class="devicesStatus_icon" />

    </div>
          <div class="devicesStatusContainerName" style="top: 67%; left: 50%;">
        <a id="labelSeed">Seeder: {{deviceStatusObjects.seedStatus}}<a>
    </div>





    <div class="dateContainer">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="dateID">{{cameraObjects.date}}
        <p>


    </div>
  </div>



</form>

<form method='POST' id="sensorsForm">
  {% csrf_token %}



  <div class="sensorsContainer">
    <ul>
      <li><a>Sensors<a></li>
      <img src="../assets/icons/temperatureIcon.png" class="dateContainerLogo" />
      <img src="../assets/icons/humidityIcon_white.png" class="dateContainerLogo" />
      <img src="../assets/icons/soilMoistureIcon_white.png" class="dateContainerLogo" />
    </ul>

    <ul>
      <li><a>reading<a></li>
      <li><a id="labelTemperature">{{sensorsObjects.temperature}}<a></li>
      <li><a id="labelHumidity">{{sensorsObjects.humidity}}<a></li>
      <li><a id="labelMoisture">{{sensorsObjects.moisture}}<a></li>
    </ul>

    <ul>
      <li><a>Status<a></li>
      <li><a>Fine<a></li>
      <li><a>Fine<a></li>
      <li><a>Fine<a></li>
    </ul>

    <div class="dateContainer">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="dateID">{{cameraObjects.date}}
        <p>


    </div>

  </div>
  <div class="growthContainer">
    <ul>
      <li><a>growth monitor<a></li>
    </ul>
    <div class="circle small">
      <a id="labelPlant1Growth">{{cameraObjects.plant1}}<a>
    </div>
    <div class="circle small">
      <a id="labelPlant2Growth">{{cameraObjects.plant2}}<a>
    </div>
    <div class="circle small">
      <a id="labelPlant3Growth">{{cameraObjects.plant3}}<a>
    </div>
    <div class="circle small">
      <a id="labelPlant4Growth">{{cameraObjects.plant4}}<a>
    </div>

    <div class="circle small">
      <a id="labelPlant5Growth">{{cameraObjects.plant5}}<a>
    </div>
    <div class="circle small">
      <a id="labelPlant6Growth">{{cameraObjects.plant6}}<a>
    </div>
    <div class="circle small">
      <a id="labelPlant7Growth">{{cameraObjects.plant7}}<a>
    </div>
    <div class="circle small">
      <a id="labelPlant8Growth">{{cameraObjects.plant8}}<a>
    </div>
    <div class="circle small">
      <a id="labelPlant9Growth">{{cameraObjects.plant9}}<a>
    </div>

    <div class="circle small">
      <a id="labelPlant10Growth">{{cameraObjects.plant10}}<a>
    </div>

    <div class="dateContainer" style="top:94%;">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="dateID">{{cameraObjects.date}}
        <p>


    </div>
  </div>

  <div class="summaryContainer">
    Summary
    <ul>
      <li><a id="labelSummary">{{sensorsObjects.summary}}<a></li>
    </ul>

    <div class="dateContainer">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="dateID">{{cameraObjects.date}}
        <p>


    </div>
  </div>





</form>

<form method='POST' id="imageForm">
  {% csrf_token %}
  <div class="cameraImgContainer">
    <img id="cameraID" class="cameraImg" src={{cameraObjects.cameraURL}}>
    <!--   <img id="cameraID" class="cameraImg" src={{cameraObjects.cameraURL}}> -->
    <!--   <img id="cameraID" class="cameraImg" src="../assets/gardenPics/test.jpg"> -->
    <div class="dateContainer" style="top:94%;">

      <img src="../assets/icons/updateIcon_white.png" class="dateContainerLogo" />
      <p id="dateID">{{cameraObjects.date}}
        <p>


    </div>
  </div>



</form>


{% endblock %}
