{% load static %}

<!DOCTYPE html>
<html>

<head>

  <title>A.G.E Thesis</title>

  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  <link rel="stylesheet" href="{% static 'styles.css' %}">

  <!-- Jquery for ajax calls -->
  <script src="/assets/js/jquery-3.4.1.min.js"></script>

  <!-- Alertify for confirmation prompts -->
  <script src="/assets/alertify.js-0.3.11/lib/alertify.min.js"></script>
  <link rel="stylesheet" href="/assets/alertify.js-0.3.11/themes//alertify.core.css" />
  <link rel="stylesheet" href="/assets/alertify.js-0.3.11/themes/alertify.default.css" id="toggleCSS" />

</head>

<body>


  <div class="title">
    <img src="../assets/icons/rpiLogo_white.png" class="titleLogo" />
  </div>

  <div id="mySidenav" class="hiddenSideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="devicesContainer">

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/sunIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onLights_btn" value=" " class="onLights"></button>
      <input style="background-color: red;" type='submit' name="offLights_btn" value=" " class="offLights"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/airIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onFans_btn" value=" " class="onFan"></button>
      <input style="background-color: red;" type='submit' name="offFans_btn" value=" " class="offFan"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/calibrationIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onCalibration_btn" value=" " class="onCalibration"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/waterIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onWater_btn" value=" " class="onWater"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/seedIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: limegreen;" type='submit' name="onSeed_btn" value=" " class="onSeed"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/cameraIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="camera_btn" value=" " class="processImage"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/modeIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="onMode1_btn" value="1" class="onMode1"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/modeIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="onMode2_btn" value="2" class="onMode2"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/modeIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="onMode3_btn" value="3" class="onMode3"></button>

      <img style="width: 50px; height: 50px; margin-bottom: 25px;" src="../assets/icons/controllerIcons/modeIcon_white.png" class="dateContainerLogo" />
      <input style="background-color: white;" type='submit' name="onMode4_btn" value="4" class="onMode4"></button>
    </div>

  </div>

  <div class="sidenav">
    <div class="sidenavTitleContainer">
      ADMIN TOOLS
    </div>

    <div class="sidenavButtonContainer">

      <a href="{% url 'mainPage' %}"><img src="../assets/icons/sideNavIcons/dashboardIcon_white.png" class="sidenavIcon" />DASHBOARD</a>
      <a href="{% url 'databasePage' %}"> <img src="../assets/icons/sideNavIcons/databaseIcon_white.png" class="sidenavIcon" />DATABASE</a>
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/controllerIcon_white.png" class="sidenavIcon" />CONTROLLER</a>
      <a class='fullReset' onclick="confirmFullReset()" type='submit'> <img src="../assets/icons/sideNavIcons/deleteIcon_white.png" class="sidenavIcon" />RESET</a>

    </div>

    <div class="sidenavTitleContainer" style="top: 27%">
      FAQs
    </div>
    <div class="sidenavButtonContainer" style="top: 30.4%">
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/cropIcon_white.png" class="sidenavIcon" /> CROP INFO</a>
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/growthIcon_white.png" class="sidenavIcon" /> GROWTH INFO</a>
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/contactIcon_white.png" class="sidenavIcon" /> CONTACT US</a>
    </div>
  </div>

  {% block content %}
  {% endblock %}

</body>

<script>
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }

  function confirmFullReset() {
    var txt;

    alertify.set({
      labels: {
        ok: " ",
        cancel: " "
      }
    });

    alertify.set({
      delay: 2500
    });

    alertify.confirm("ARE YOU SURE YOU WANT TO RESET YOUR DATABASE?", function(e) {
      if (e) {
        $.ajax({
          type: 'POST',
          url: '{% url "mainPage" %}',
          data: {

            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'fullReset',

          },
          success: function(daysJSON) {
            document.getElementById("mainForm").reset();
            $('#cameraID').attr('src', '../assets/background/defaultBG.jpg');
            $('#firstDayID').text(daysJSON.day1Formatted);
            $('#lastDayID').text('Age since: ' + daysJSON.day1Formatted);
            $('#cameraDateID').text('As of: ' + daysJSON.day1Formatted);
            $('#summaryDateID').text('As of: ' + daysJSON.day1Formatted);
            $('#growthDateID').text('As of: ' + daysJSON.day1Formatted);
            $('#daysID').text(daysJSON.daysCounterJSON);

            $('#labelPlant1Growth').text(daysJSON.plant1JSON);
            $('#labelPlant2Growth').text(daysJSON.plant2JSON);
            $('#labelPlant3Growth').text(daysJSON.plant3JSON);
            $('#labelPlant4Growth').text(daysJSON.plant4JSON);
            $('#labelPlant5Growth').text(daysJSON.plant5JSON);
            $('#labelPlant6Growth').text(daysJSON.plant6JSON);
            $('#labelPlant7Growth').text(daysJSON.plant7JSON);
            $('#labelPlant8Growth').text(daysJSON.plant8JSON);
            $('#labelPlant9Growth').text(daysJSON.plant9JSON);
            $('#labelPlant10Growth').text(daysJSON.plant10JSON);

            $('#labelCalibration').text(daysJSON.calibrationStatusJSON);
            $('#labelFans').text(daysJSON.fansStatusJSON);
            $('#labelLights').text(daysJSON.lightsStatusJSON);
            $('#labelWater').text(daysJSON.waterStatusJSON);
            $('#labelSeed').text(daysJSON.seedStatusJSON);

            $('#labelTemperature').text(daysJSON.temperatureJSON);
            $('#labelHumidity').text(daysJSON.humidityJSON);
            $('#labelMoisture').text(daysJSON.moistureJSON);
            $('#labelSummary').text(daysJSON.summaryJSON);

            $('#labelMode').text(daysJSON.modeNumberJson);
            $('#labelGrid').text(daysJSON.gridJson);
          },
        });

        alertify.custom = alertify.extend("custom");
        alertify.custom("Database Cleared!");
      } else {
        alertify.custom = alertify.extend("custom");
        alertify.custom("Action Cancelled!");
      }
    });
  }

  function openNav() {
    document.getElementById("mySidenav").style.width = "16%";
  }

  function getSensorValues() {
    var date1 = new Date();
    //if (date1.getMinutes() === 00) {
      $.ajax({
        type: 'POST',
        url: '{% url "mainPage" %}',
        data: {
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'getSensorValues',
        },
        success: function(sensorsJson) {
          document.getElementById("mainForm").reset();
          $('#daysID').text(sensorsJson.daysCounterJSON);
          $('#lastDayID').text('Age since: ' + sensorsJson.dateJSON);
          $('#labelTemperature').text(sensorsJson.currentTemperatureJSON);
          $('#labelHumidity').text(sensorsJson.currentHumidityJSON);
          $('#labelMoisture').text(sensorsJson.currentMoistureJSON);
          $('#labelSummary').text(sensorsJson.currentSummaryJSON);
        },
      });
   // }
  }

  function snapImage() {
    var date1 = new Date();
    if (date1.getHours() === 11 && date1.getMinutes() === 30) {
      //Change getHours and getMinutes depending on platform used
      //Rpi 24 hr format
      //Ubuntu 12 hr format
      //Windows 12 hr format
      //alert(date1);
      $.ajax({
        type: 'POST',
        url: '{% url "mainPage" %}',
        data: {
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'snapImage',
        },
        success: function(cameraJson) {
          $('#cameraID').attr('src', cameraJson.cameraURLJSON);
          $('#dateID').text('As of: ' + cameraJson.cameraDateJSON);
          $('#labelPlant1Growth').text(cameraJson.plant1JASON);
          $('#labelPlant2Growth').text(cameraJson.plant2JASON);
          $('#labelPlant3Growth').text(cameraJson.plant3JASON);
          $('#labelPlant4Growth').text(cameraJson.plant4JASON);
          $('#labelPlant5Growth').text(cameraJson.plant5JASON);
          $('#labelPlant6Growth').text(cameraJson.plant6JASON);
          $('#labelPlant7Growth').text(cameraJson.plant7JASON);
          $('#labelPlant8Growth').text(cameraJson.plant8JASON);
          $('#labelPlant9Growth').text(cameraJson.plant9JASON);
          $('#labelPlant10Growth').text(cameraJson.plant10JASON);
          $('#daysID').text(cameraJson.daysCounterJSON);
          $('#lastDayID').text('Age since: ' + cameraJson.cameraDateJSON);
        },
      });
    }
  }

  $(document).ready(function() {
    setInterval(getSensorValues, 5000);
  });

  $(document).ready(function() {
    setInterval(snapImage, 25000);
  });

  $(".processImage").click(function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'snapImage',
      },
      success: function(cameraJson) {
        $('#cameraID').attr('src', cameraJson.cameraURLJSON);
        $('#cameraDateID').text('As of: ' + cameraJson.cameraDateJSON);
        $('#summaryDateID').text('As of: ' + cameraJson.cameraDateJSON);
        $('#growthDateID').text('As of: ' + cameraJson.cameraDateJSON);
        $('#labelPlant1Growth').text(cameraJson.plant1JASON);
        $('#labelPlant2Growth').text(cameraJson.plant2JASON);
        $('#labelPlant3Growth').text(cameraJson.plant3JASON);
        $('#labelPlant4Growth').text(cameraJson.plant4JASON);
        $('#labelPlant5Growth').text(cameraJson.plant5JASON);
        $('#labelPlant6Growth').text(cameraJson.plant6JASON);
        $('#labelPlant7Growth').text(cameraJson.plant7JASON);
        $('#labelPlant8Growth').text(cameraJson.plant8JASON);
        $('#labelPlant9Growth').text(cameraJson.plant9JASON);
        $('#labelPlant10Growth').text(cameraJson.plant10JASON);
        $('#daysID').text(cameraJson.daysCounterJSON);
        $('#lastDayID').text('Age since: ' + cameraJson.cameraDateJSON);
      },
    });
  });

  $(".onFan").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onFan',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelFans').text('On');
      },

    });
  });

  $(".offFan").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offFan',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelFans').text('Off');
      },

    });
  });

  $(".onLights").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onLights',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelLights').text('On');
      },

    });
  });

  $(".offLights").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offLights',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelLights').text('Off');
      },

    });
  });

  $(".onWater").click(function(e) {

    e.preventDefault();
    $('#labelWater').text('On');
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onWater',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelWater').text('Off');
      },

    });
  });


  $(".onSeed").click(function(e) {

    e.preventDefault();
    $('#labelSeed').text('On');
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onSeed',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelSeed').text('Off');
      },

    });
  });

  $(".onCalibration").click(function(e) {

    e.preventDefault();
    $('#labelCalibration').text('On');
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onCalibration',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelCalibration').text('Off');
      },

    });
  });

  $(".onMode1").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode1',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text(json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });

  $(".onMode2").click(function(e) {

    e.preventDefault();

    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode2',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text(json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });

  $(".onMode3").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode3',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text(json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });

  $(".onMode4").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode4',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text(json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });
</script>

</html>
