{% load static %}

<!DOCTYPE html>
<html>

<head>

  <title>A.G.E Thesis</title>

  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  <link rel="stylesheet" href="{% static 'styles.css' %}">

  <!-- Jquery for ajax calls -->
  <script src="/assets/js/jquery-3.4.1.min.js"></script>

  <!-- Alertify for confirmation prompts -->
  <script src="/assets/alertify.js-0.3.11/lib/alertify.min.js"></script>
  <link rel="stylesheet" href="/assets/alertify.js-0.3.11/themes//alertify.core.css" />
  <link rel="stylesheet" href="/assets/alertify.js-0.3.11/themes/alertify.default.css" id="toggleCSS" />

</head>

<body>


  <div class="title">
    <img src="../assets/icons/rpiGif2.gif" class="titleLogoGif" />
  </div>

  <div id="mySidenav" class="hiddenSideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="devicesContainer">

      <div name="onLights_btn" id="onLights" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        On Lights
      </div>

      <div name="offLights_btn" id="offLights" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Off Lights
      </div>
      
      <div name="onFans_btn" id="onFan" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        On Fans
      </div>

      <div name="offFans_btn" id="offFan" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Off Fans
      </div>

      <div name="onCalibration_btn" id="onCalibration" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Calibrate
      </div>

      <div name="onWater_btn" id="onWater" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Water
      </div>

      <div name="onSeed_btn" id="onSeed" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Seed
      </div>
      
      <div name="camera_btn" id="processImage" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Capture
      </div>

      <div name="onMode1_btn" id="onMode1" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Mode 1
      </div>

      <div name="onMode2_btn" id="onMode2" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Mode 2
      </div>

      <div name="onMode2_btn" id="onMode3" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Mode 3
      </div>

      <div name="onMode2_btn" id="onMode4" class="btn">
        <svg>
          <rect x="0" y="0" fill="none" width="166" height="45" />
        </svg>
        Mode 4
      </div>

    </div>
  </div>

  <div class="sidenav">
    <div class="sidenavTitleContainer">
      ADMIN TOOLS
    </div>

    <div class="sidenavButtonContainer">

      <a href="{% url 'mainPage' %}"><img src="../assets/icons/sideNavIcons/dashboardIcon_white.png" class="sidenavIcon" />DASHBOARD</a>
      <a href="{% url 'databasePage' %}"> <img src="../assets/icons/sideNavIcons/databaseIcon_white.png" class="sidenavIcon" />DATABASE</a>
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/controllerIcon_white.png" class="sidenavIcon" />CONTROLLER</a>
      <a class='fullReset' onclick="confirmFullReset()" type='submit'> <img src="../assets/icons/sideNavIcons/deleteIcon_white.png" class="sidenavIcon" />RESET</a>

    </div>

    <div class="sidenavTitleContainer" style="top: 27%">
      FAQs
    </div>
    <div class="sidenavButtonContainer" style="top: 30.4%">
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/cropIcon_white.png" class="sidenavIcon" /> CROP INFO</a>
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/growthIcon_white.png" class="sidenavIcon" /> GROWTH INFO</a>
      <a onclick="openNav()"> <img src="../assets/icons/sideNavIcons/contactIcon_white.png" class="sidenavIcon" /> CONTACT US</a>

    </div>
  </div>

  {% block content %}
  {% endblock %}

</body>

<script>
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }

  function openNav() {
    document.getElementById("mySidenav").style.width = "15%";
  }

  function confirmFullReset() {
    var txt;

    alertify.set({
      labels: {
        ok: " ",
        cancel: " "
      }
    });

    alertify.set({
      delay: 2500
    });

    alertify.confirm("ARE YOU SURE YOU WANT TO RESET YOUR DATABASE?", function(e) {
      if (e) {
        $.ajax({
          type: 'POST',
          url: '{% url "mainPage" %}',
          data: {

            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'fullReset',

          },
          success: function(json) {
            document.getElementById("mainForm").reset();
            $('#cameraID').attr('src', json.cameraURLJSON);
            $('#firstDayID').text(json.day1Formatted);
            $('#lastDayID').text('Age since: ' + json.day1Formatted);
            $('#cameraDateID').text('As of: ' + json.day1Formatted);
            $('#summaryDateID').text('As of: ' + json.day1Formatted);
            $('#growthDateID').text('As of: ' + json.day1Formatted);
            $('#daysID').text(json.daysCounterJSON);

            $('#labelPlant1Growth').text(json.plant1JSON);
            $('#labelPlant2Growth').text(json.plant2JSON);
            $('#labelPlant3Growth').text(json.plant3JSON);
            $('#labelPlant4Growth').text(json.plant4JSON);
            $('#labelPlant5Growth').text(json.plant5JSON);
            $('#labelPlant6Growth').text(json.plant6JSON);
            $('#labelPlant7Growth').text(json.plant7JSON);
            $('#labelPlant8Growth').text(json.plant8JSON);
            $('#labelPlant9Growth').text(json.plant9JSON);
            $('#labelPlant10Growth').text(json.plant10JSON);

            $('#labelCalibration').text(json.calibrationStatusJSON);
            $('#labelFans').text(json.fansStatusJSON);
            $('#labelLights').text(json.lightsStatusJSON);
            $('#labelWater').text(json.waterStatusJSON);
            $('#labelSeed').text(json.seedStatusJSON);

            $('#labelTemperature').text(json.temperatureJSON + " ° C");
            $('#labelHumidity').text(json.humidityJSON + " %");
            $('#labelMoisture').text(json.moistureJSON + " %");
            $('#labelSummary').text(json.summaryJSON);

            $('#labelMode').text("Mode " + json.modeNumberJson);
            $('#labelGrid').text(json.gridJson);
          },
        });

        alertify.custom = alertify.extend("custom");
        alertify.custom("Database Cleared!");
      } else {
        alertify.custom = alertify.extend("custom");
        alertify.custom("Action Cancelled!");
      }
    });
  }

  function getSensorValues() {
    var date1 = new Date();
    //if (date1.getMinutes() === 00) {
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'getSensorValues',
      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#daysID').text(json.daysCounterJSON);
        $('#lastDayID').text('Age since: ' + json.dateJSON);
        $('#labelTemperature').text(json.currentTemperatureJSON + " ° C");
        $('#labelHumidity').text(json.currentHumidityJSON + " %");
        $('#labelMoisture').text(json.currentMoistureJSON + " %");
        $('#labelSummary').text(json.currentSummaryJSON);
      },
    });
    // }
  }

  function snapImage() {
    var date1 = new Date();
    if (date1.getHours() === 11 && date1.getMinutes() === 30) {
      //Change getHours and getMinutes depending on platform used
      //Rpi 24 hr format
      //Ubuntu 12 hr format
      //Windows 12 hr format
      //alert(date1);
      $.ajax({
        type: 'POST',
        url: '{% url "mainPage" %}',
        data: {
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          action: 'snapImage',
        },
        success: function(json) {
          $('#cameraID').attr('src', json.cameraURLJSON);
          $('#dateID').text('As of: ' + json.cameraDateJSON);
          $('#labelPlant1Growth').text(json.plant1JASON);
          $('#labelPlant2Growth').text(json.plant2JASON);
          $('#labelPlant3Growth').text(json.plant3JASON);
          $('#labelPlant4Growth').text(json.plant4JASON);
          $('#labelPlant5Growth').text(json.plant5JASON);
          $('#labelPlant6Growth').text(json.plant6JASON);
          $('#labelPlant7Growth').text(json.plant7JASON);
          $('#labelPlant8Growth').text(json.plant8JASON);
          $('#labelPlant9Growth').text(json.plant9JASON);
          $('#labelPlant10Growth').text(json.plant10JASON);
          $('#daysID').text(json.daysCounterJSON);
          $('#lastDayID').text('Age since: ' + json.cameraDateJSON);
        },
      });
    }
  }

  $(document).ready(function() {
    setInterval(getSensorValues, 5000);
  });

  $(document).ready(function() {
    setInterval(snapImage, 25000);
  });

  $("#processImage").click(function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'snapImage',
      },
      success: function(json) {
        $('#cameraID').attr('src', json.cameraURLJSON);
        $('#cameraDateID').text('As of: ' + json.cameraDateJSON);
        $('#summaryDateID').text('As of: ' + json.cameraDateJSON);
        $('#growthDateID').text('As of: ' + json.cameraDateJSON);
        $('#labelPlant1Growth').text(json.plant1JASON);
        $('#labelPlant2Growth').text(json.plant2JASON);
        $('#labelPlant3Growth').text(json.plant3JASON);
        $('#labelPlant4Growth').text(json.plant4JASON);
        $('#labelPlant5Growth').text(json.plant5JASON);
        $('#labelPlant6Growth').text(json.plant6JASON);
        $('#labelPlant7Growth').text(json.plant7JASON);
        $('#labelPlant8Growth').text(json.plant8JASON);
        $('#labelPlant9Growth').text(json.plant9JASON);
        $('#labelPlant10Growth').text(json.plant10JASON);
        $('#daysID').text(json.daysCounterJSON);
        $('#lastDayID').text('Age since: ' + json.cameraDateJSON);
      },
    });
  });

  $("#onFan").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onFan',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelFans').text('On');
      },

    });
  });

  $("#offFan").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offFan',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelFans').text('Off');
      },

    });
  });

  $("#onLights").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onLights',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelLights').text('On');
      },

    });
  });

  $("#offLights").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'offLights',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelLights').text('Off');
      },

    });
  });

  $("#onWater").click(function(e) {

    e.preventDefault();
    $('#labelWater').text('On');
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onWater',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelWater').text('Off');
      },

    });
  });


  $("#onSeed").click(function(e) {

    e.preventDefault();
    $('#labelSeed').text('On');
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onSeed',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelSeed').text('Off');
      },

    });
  });

  $("#onCalibration").click(function(e) {

    e.preventDefault();
    $('#labelCalibration').text('On');
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onCalibration',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelCalibration').text('Off');
      },

    });
  });

  $("#onMode1").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode1',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text("Mode " + json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });

  $("#onMode2").click(function(e) {

    e.preventDefault();

    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode2',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text("Mode " + json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });

  $("#onMode3").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode3',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text("Mode " + json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });

  $("#onMode4").click(function(e) {

    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "mainPage" %}',
      data: {

        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'onMode4',

      },
      success: function(json) {
        document.getElementById("mainForm").reset();
        $('#labelMode').text("Mode " + json.modeNumberJson);
        $('#labelGrid').text(json.gridJson);
      },

    });
  });
</script>

</html>